.App {
  display: block
}

/*
  NAVIGATION
*/

.Navigation {
  background-color: #FFF;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  z-index: 2;
  border-bottom: 1px solid grey;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06);
}

.Navigation
  img {
    max-height: 50px;
  }
  
.NavigationLinks {
  display: flex;
  justify-content: center;
  height:50px;
}

.NavigationLink {
  height: 100%;
  text-align: center;
  position: relative;
  font-size: 16px;
  line-height: 50px;
  text-transform: uppercase;
  padding: 10px 15px;
}

