body {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  background: -webkit-linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
  background: -moz-linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
  background: -ms-linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
  background: -o-linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
  background: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.App {
  display: block;
  font-family: 'Staatliches', cursive;
}

a {
  text-decoration: none;
  color: black
}

.row--padding-bottom {
  padding-bottom: 60px;
}

.row--padding-bottom-small {
  padding-bottom: 30px;
}

.row--padding-top-small {
  padding-top: 30px
}


/*
  NAVIGATION
*/

.NavigationLogo {
  margin: 10px 0px 10px 0px
}

.NavigationLogo 
  img {
    max-height: 80px;
    padding-left: 35px;
  }

.NavigationLinks {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.NavigationLink {
  font-size: 30px;
  text-transform: uppercase;
}

/*
  HERO
*/

.HeroImage 
  img {
  width:100%
}

.HeroText {
  font-size: 80px;
  z-index: 2;
  display: flex;
  align-items: center;
  line-height: 60px;
  padding-top: 150px;
  padding-left: 50px;
}

/*
  PROJECTS
*/

.ProjectHeading {
  font-size: 30pt;
  margin-top: 0pt;
}

.ProjectDetail {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

.ProjectImg {
  width: 80px;
  opacity: 0.3;
}

.ProjectImgFirst {
  width: 300px;
  padding-top: 50px;
  opacity: 0.5;
}

.ProjectImgActive {
  opacity: 1;
}

.ProjectList {
  align-items: center;
}

.ProjectCircle {
  color: #000000;
  font-size: 10px;
}

.ProjectListItem {
  height: 135px;
  display: grid;
  justify-content: center;
}

/*
  FOOTER
*/

.Footer
  a {
    font-size: 30px;
  }

.Emoji {
  font-size:40px;
}
