.App {
  display: block
}

/*
  NAVIGATION
*/

.Navigation {
  background-color: #FFF;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  z-index: 2;
  position: sticky;
  top: 0;
}

.Navigation
  img {
    max-height: 50px;
  }
  
.NavigationLinks {
  display: flex;
  height:50px;
}

.NavigationLink {
  height: 100%;
  text-align: center;
  position: relative;
  font-size: 16px;
  line-height: 50px;
  text-transform: uppercase;
  padding: 10px 15px;
}

/*
  PROJECTS
*/

.ProjectImg {
  width: 80px;
}

.ProjectImgActive {
  border: 5px solid red
}

.ProjectList {
  align-items: center;
}